/*========== Goggle Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
  --color:#3a3a3a;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*============ Common Selector ================ */
body{
  font-family: 'Roboto', sans-serif;
}
.Container{
  max-width:1200px;
  margin: 0 auto;
}
section{
 padding: 50px 0;
}

/*=============== Header Section Starts ==================*/
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
#toggle{
  display: none;
}
.icon{
  display: none;
}
.menu-text h2{
  color: var(--color);
}
.menu{
  list-style: none;
  display: flex;
}
.menu li{
  margin-left: 18px;
}
.menu a{
  text-decoration: none;
  color:var(--color);
  font-weight: 500;
  padding: 10px 10px;
}
/*=============== Banner Section Starts ==================== */
.banners{
  display: flex;
  padding: 5px 40px;
  
}
.left-banner{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-banner h1{
font-size:55px;
color: var(--color);
}
.left-banner p{
font-weight:600;
line-height: 1.3;
font-size: 18px;
color:#5d5b5b;
margin: 20px 0px;
}
.banner-btn{
  font-size:16px;
  outline: 0;
  padding: 10px 30px;
  font-weight: 600;
  background-color:#e02c6d;
  border: 0;
  border-radius:18px;
  color: white;
  cursor: pointer;
  transition:letter-spacing 1s linear ;
}
.banner-btn:hover{
  letter-spacing:2px;
}
.banner-btn i{
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  transition: transform 4s linear;
}
.right-banner{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 2s linear;
}
.right-banner img{
  width:80%;
  cursor: pointer;
}
.banners:hover .right-banner{
  transform:translate(25px);
}

/*=============== Header Section Ends ==================*/

/*=============== Logo Section Stars ==================*/
#logos{
 border-radius:5px;
 box-shadow: 3px 3px 7px #ddd ,
             -3px -3px 7px #ddd;
}
.logo{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
  margin: 0 auto;
  cursor: pointer;
}
.brand-logo{
  display: flex;
  align-items: center;
  justify-content: center;
 margin: 0 auto;
}

/*=============== Logo Section Ends ==================*/

/*================ Collection Starts ================== */
.section-title{
  font-size:30px;
  text-align: center;
  margin: 40px 0px;
  color: var(--color);
}
.collection{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  margin: 0 auto;
}
.collection-box{
  width: 100%;
  background-color:white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(233, 231, 231) ,
             -2px -2px 10px rgb(219, 219, 219);
}
.collection-card{
  padding: 15px 35px;
}
.collection-image img{
  width: 100%;
}
.collection-info{
  padding: 10px 0px;
}
.collection-info h2{
  color: rgb(41, 38, 38);
  font-size: 25px;
  font-weight: 600;
}
.collection-info h3{
  font-size: 20px;
  font-weight: 500;
  color: #3a3a3a;
  margin: 10px 0;
}
.collection-info .rating i{
  color: goldenrod;
  
}
.collection-info .rating-point{
  color: var(--color);
  font-weight: 600;
  margin-left: 7px;
}

.collection-info p{
font-weight: 500;
color: var(--color);
padding: 4px 0;
}
.see-more{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
}
.see-more a{
  text-decoration: none;
  color: #e02c6d;
  font-weight: 700;
 
}
.see-more i{
  margin-left:8px ;
}
/*================ Collection Starts ================== */

/*================ Demos Section Starts ================== */
.demo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.demo img{
  width: 100%;
  border-radius: 5px;
  transition: transform 2s linear;
  cursor: pointer;
}
.demo img:hover{
  transform: scale(.8);
  
}

/*================ Demos Section Ends ================== */

/*================ Footer Section Starts ================== */
#footer{
  margin-top: 50px;
  background-color:#0a0826;
  padding: 40px 0px;
}
.footer-content{
  text-align: center;
}
.footer-content h2{
  color: white;
  padding: 5px 0px;
  font-weight: 600;
}
.footer-content h5{
  color: white;
  font-weight: 500;
  padding: 7px 0px;
}
.social-icon{
  display: flex;
  justify-content: center;
  cursor: pointer;
  
}
.social-icon i{
  font-size: 17px;
  display: flex;
  line-height:40px;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(94, 109, 107, 0.801);
  color: white;
 }

/*================ Footer Section Ends ================== */

/* ============== Media Quary =================== */


@media (max-width:900px) {
  .menu-text h2{
  font-size: 20px;
  }
  .left-banner h1{
    font-size: 30px;
  }
  .left-banner p{
    font-size: 13px;
  }
  .demo img{
    width:100%;
    height:auto;
    
   }
  
}
@media (max-width:800px) {
 .banners{
    flex-direction: column;
  }
  .left-banner h1{
    font-size:30px;
  }
  .left-banner p{
    font-size:15px;
  }
  .right-banner{
    margin-top: 30px;
  }
  .menu{
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:rgba(192, 192, 192, 0.787);
    transform: scale(0);
  }
  .menu li{
    padding:5px 0px;
  }
  .icon{
    display: block;
    font-size: 30px;
  }
  .logo{
    grid-template-columns: repeat(4,1fr);
  }
  .collection{
    grid-template-columns: repeat(2,1fr);
  }
  .demo{
    grid-template-columns: repeat(2,1fr);
  }
 .demo-image{
   display: block;
   text-align: center;
 }
  .demo img{
   width:100%;
   
  }
  
}
@media (max-width:550px) {
 
  .right-banner{
    margin-top: 30px;
  }
 
  .logo{
    grid-template-columns: repeat(3,1fr);
  }
  .collection{
    grid-template-columns: repeat(1,1fr);
  }
  .demo{
    grid-template-columns: repeat(1,1fr);
  }
 .footer-content h2{
   font-weight: 500;
 }
   
 }
 
